In [1]:
import win32com.client
from pywintypes import com_error
import pandas as pd

In [2]:
# Read the file

In [3]:
col_names_English = ['Reach', 'River Station', 'Profile', 'Number', 'Q Total', 'Min Ch El', 'W.S. Elev', 'Crit W.S.',
                    'E.G. Elev', 'E.G. Slope', 'Vel Chnl', 'Flow Area', 'Top Width', 'Froude # Chl']

In [4]:
data = pd.read_fwf('hec_ras_output (1).txt', skiprows=10)
data.columns = col_names_English
data.head()

,Reach,River Station,Profile,Number,Q Total,Min Ch El,W.S. Elev,Crit W.S.,E.G. Elev,E.G. Slope,Vel Chnl,Flow Area,Top Width,Froude # Chl
0,YF1,4160.00,PF,1,250.0,281.57,285.83,285.83,286.84,0.008232,4.44,56.34,28.31,1.00
1,YF1,4145.79,PF,1,250.0,281.04,286.18,285.20,286.44,0.001750,2.28,109.84,49.30,0.49
2,YF1,4140.00,PF,1,250.0,280.89,286.19,NaN,286.43,0.001487,2.15,116.47,50.37,0.45
3,YF1,4132.45,PF,1,250.0,280.70,286.11,NaN,286.41,0.002098,2.43,103.04,47.54,0.53
4,YF1,4120.00,PF,1,250.0,280.36,285.92,NaN,286.36,0.003767,2.94,85.05,44.37,0.68

In [5]:
data.columns.shape

(14,)

In [6]:
import os
import shutil

cwd = os.getcwd()
direcory_name = 'HEC_RAS_excel_pdf'
path = os.path.join(cwd, direcory_name)

if os.path.exists(path) and os.path.isdir(path):
    shutil.rmtree(path)

os.mkdir(path)

In [7]:
path

'D:\\Github_Scripts\\VBA\\HEC_RAS_excel_pdf'

In [8]:
import os
excel_name = os.path.join(path, 'Hydraulic.xlsx')
print(excel_name)
data.to_excel(excel_name)

D:\Github_Scripts\VBA\HEC_RAS_excel_pdf\Hydraulic.xlsx

In [9]:
excel_name

'D:\\Github_Scripts\\VBA\\HEC_RAS_excel_pdf\\Hydraulic.xlsx'

In [10]:
excel = win32com.client.Dispatch("Excel.Application")
  
# Read Excel File
excel.Visible = False
excel.DisplayAlerts=False
sheets = excel.Workbooks.Open(excel_name)
path_pdf = os.path.join(path, 'Hydraulic_Calc.pdf')

sheets.ExportAsFixedFormat(Type=0,  Filename=path_pdf,
                          IgnorePrintAreas=False)